<launch>

    <arg name="camera_device_arg" default="0" />

    <node pkg="openface_tracker" type="FeatureExtraction" name="features_extractor">
        <param name="lib_path" value="$(find openface_tracker)/lib/local"/>
        <param name="camera_device_param" type="str" value="$(arg camera_device_arg)"/>
        <param name="show_tracking" type="str" value="$(arg show_tracking_arg)"/>
    </node>

    <node name="tablet_transform" pkg="tf" type="static_transform_publisher" args="0.3 0 0 0 0 0 /base_footprint /tablet 100"/>
    <node name="selection_tablet_transform" pkg="tf" type="static_transform_publisher" args="0.3 -0.3 0 0 0 0 /base_footprint /selection_tablet 100"/>
    <node name="experimenter_transform" pkg="tf" type="static_transform_publisher" args="0.2 -0.6 0.6 0 0 0 /base_footprint /experimenter 100"/>
    <node name="observers_transform" pkg="tf" type="static_transform_publisher" args="-2.7 1 0.7 0 0 0 /base_footprint /observer 100"/>
    <node name="camera_transform" pkg="tf" type="static_transform_publisher" args="0.1 0 0.05 1.57 0. 1. /base_footprint /camera 100"/>
    <node name="base_footprint_transform" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /base_footprint 100"/>
    <node name="robot_transform" pkg="tf" type="static_transform_publisher" args="0 0 0.25 0 0 0 /base_footprint /robot_head 100"/>

    <node pkg="openface_tracker" type="estimate_attention" name="estimate_attention" />

    <node pkg="openface_tracker" type="withmeness.py" name="withmeness">
      <param name="targets" value="$(find openface_tracker)/targets.json"/>
    </node>

</launch>
